 ul.nav {
     list-style-type: none;
     margin: 0;
     padding: 20px;
     width: 200px;
     background-color: #f1f1f1;
     box-sizing: border-box;
     list-style-type: none; 
 }

 ul.nav a {
     display: block;
 }

 .a {
     color: red;
     text-decoration: none;
 }


 .b:visited {
     color: #8B0000
 }

 .c:hover {
     color: green;
 }

 .d:active {
     color: rgb(184, 134, 11);
 } 