
.nav ul { 
        margin:0; 
        padding:0; 
        list-style-type:none; 
    } 
.nav>ul>li { 
        float:left; 
        width:180px; 
        position: relative; 
    } 
.nav li a { 
        display: block; 
        background: rgb(251, 0, 255); 
        border: 2px solid black; 
        padding: 8px; 
        text-decoration: none; 
} 
.nav li .second { 
            display: none; 
            position: absolute; 
            top: 100%; 
            left:0; 
} 
.nav li:hover .second{ 
display: block; 

} 
.nav li li { 
width:180px; 
        border: 2px dashed black;

} 
