li{ background: url(facultet.png) no-repeat 0 0;}
.a{ background: url(facultet.png) no-repeat 0 0;}
.b{ background: url(facultet.png) no-repeat 0 0;}
.c{ background: url(facultet.png) no-repeat 0 0;}
.d{ background: url(facultet.png) no-repeat 0 0;}


.horizontal-nav li {
    float: left;
    border: solid 1px black;
    display: inline;
}

.nav a {
    display: inline-block;
    border: 1px solid black;
    padding: 8px 150px 5px 30px;
    text-decoration: none;
}
.b:hover{  
  background-position: 0 -30px;    /* Сдвиг фонового изображения для ИТ */
           }
.c:hover{  
  background-position: 0 -90px;    /* Сдвиг фонового изображения для ИТ */
           }
.d:hover{  
  background-position: 0 -60px;    /* Сдвиг фонового изображения для ИТ */
           }