
        .col-1:hover { 
            filter: drop-shadow(3px 3px 2px rgba(0,0,0,0.3));
            animation: pulse 600ms infinite;
        }
        .col-2:hover { 
            stroke: #071bef;
            stroke-width: 2px;
            transform: rotate(5deg); 
        }
        .col-3:hover { 
            fill: #e40b9c; 
            opacity: 0.8;
            mix-blend-mode: multiply;
            transform: rotate(-5deg); 
        }
        .col-4:hover { 
            stroke: #43d40a;
            stroke-width: 2px;
        }
        .col-5:hover { 
          transform: scale(1.2); 
        }

        @keyframes pulse {
            0% { transform: scale(1); }
            50% { transform: scale(1.1); }
            100% { transform: scale(1); }
        }
