body{
    display: flex;/* джустифай только если есть дисплей флекс (чтобы центровало)*/
  justify-content: center;
  
  
  
}
table {
  border-collapse: collapse;
}
tr:first-child td {
            background-color: red !important;
            width: 5px;
            height: 5px;
        }

        tr:last-child td {
            background-color: red !important;
            width: 5px;
            height: 5px;
        }

        td:first-child {
            background-color: red !important;
            width: 5px;
            height: 5px;
        }

        td:last-child {
            background-color: red !important;
            width: 5px;
            height: 5px;
        }
td {
  background: #000000;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}
tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
  background: #ffffff;
}
