/*4.1*/
form {
    background-color: indigo;
    padding: 40px;
    margin-right: 1000px;
    color: aliceblue;
   
}
*{
    margin-bottom:20px;
}

table{
     border-spacing: 0px;
    
}


/* 4.2 Стили для текстовых полей и email + 4.3 Размер текста */
input:not([type="radio"]):not([type="date"]) ,
select {
    background-color: rgba(255,255,255,0.5);
    color: rgba(255,255,255,1);
    box-shadow: inset 0 0 10px rgba(255,255,255,0.75);
    font-size: 1.2em;

}

select:focus{
    background-color: aliceblue;
    color: black;
}
select option{
    background-color: aliceblue;
    color: black;
}

input{
    height: 25px;
    text-indent: 150px;
}

label{
    color: aliceblue;
}

/* 4.4 Стили для кнопок */
button {
    background: navy;
    box-shadow: 0 0 4px white;
    font-size: 1.1em;
    color: white;
}

input, select {
background-color: aliceblue;
color: black;
}

.input {
    width: 170px;
}
/* 4.5 Изменение стилей при фокусе для текстовых полей (кроме email) */
input:not([type="radio"]):not([type="date"]):focus:not([placeholder="Email"]) {
    background-color: white;
    color: black;
}

