body{
  margin: 0px;
}
.conteiner{
  display: grid;
  grid-template-columns: 2fr 6fr 6fr;
  grid-template-rows: minmax(100px, 1fr);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.item{
  padding: 10px;
}

.header{
  padding: 5px;
  align-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.header a{
  text-decoration: none;
  color: #551a8b;
}

.case_1{
  background-color: #e4e4e4;
}

.case_2{
  background-color: #d4d4d4;
}

span{
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

img{
   width: 100px;
   float: left;
   margin: 7px;
   height: 75px;
   box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}

p{
  padding-left: 7px;

}