   figure {
       width: 200px;
       margin: 0px;
       display: inline-block;
       vertical-align: top;
       /*выравнивание*/
   }


   p {
       margin: 0 0 20px 0;
       text-indent: 20px;
   }


   .svn {
       width: 190px;
       height: auto;
   }

   .pvb {
       width: 190px;
       height: 255px;
   }