figure{
  width: 200px;
  margin: 10px;
  border: 1px solid black;
  display: inline-block;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0, 0.5);
}

figcaption{
  text-align: center;
  width: 200px;
}

img{
  width: 200px;
  height: 200px;
}