div{
    width:200px;
    height: 200px;
    border: 3px solid bla black;
    display: inline-block;
    margin: 20px;
}
.block1{
    background-image:linear-gradient(to bottom,blue,red);
}

.block2{
 background-image:repeating-linear-gradient(45deg, red,red 13px,blue 13px,blue 27px);
}

.block3{
 background-image:radial-gradient(yellow, green);
}

.block4{
background-image:repeating-radial-gradient(circle, green,green 10px, yellow 10px, yellow 20px);
}

.block5{
 background-image:
 radial-gradient(circle at center, yellow,green, transparent 100%), 
 linear-gradient(to bottom, blue,transparent 50px),
 linear-gradient(to top, magenta, transparent 50px);

}

.block6{
    background-image: 
    linear-gradient(to right, yellow,green,transparent 100%),
    linear-gradient(to bottom, black 13%, white 70%, blue 90%, magenta 25%); 
}