div{ padding-top: 60px;
    padding-right: 60px;
    padding-bottom:120px;
    padding-left: 60px;
    margin: 30px;
     display: inline-block;
     background-color: rgb(250, 234, 14);
     border: 4px solid;
}

@keyframes zad6 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8; /* 80% */
    }
}
h1 { 
position: relative;
animation: zad6  4s linear infinite; }


.odin{ transform: perspective(300px) rotateX(35deg);}


.dva {transform: perspective(300px) rotateY(25deg);}


.tree{transform: perspective(300px) rotateX(35deg);}


.chetire{transform: perspective(300px) rotateY(-25deg);}




